{% case name %}

  {%- when 'arrow-down' -%}
    <span class="icon-chevron-down"></span>

  {%- when 'arrow-left' -%}
    <span class="icon-chevron-left"></span>

  {%- when 'arrow-right' -%}
    <span class="icon-chevron-right"></span>

  {%- when 'cart' -%}
    <span class="icon-shopping-cart"></span>

  {%- when 'close' -%}
    <span class="icon-times"></span>

  {%- when 'facebook' -%}
    <span class="icon-facebook"></span>

  {%- when 'instagram' -%}
    <span class="icon-instagram"></span>

  {%- when 'linkedin' -%}
    <span class="icon-linkedin"></span>

  {%- when 'logo' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297.11 67.33" role="img" class="{{ class }}">
      <title>{{ shop.name }}</title>
      <g id="Layer_2" data-name="Layer 2">
        <g id="Isolation_Mode" data-name="Isolation Mode">
          <g>
            <path class="cls-1" d="M33.57,67.33a33.67,33.67,0,1,1,33.64-33A33.62,33.62,0,0,1,33.57,67.33Zm0-1.9A31.78,31.78,0,1,0,1.87,33.53,31.82,31.82,0,0,0,33.59,65.43Z"/>
            <path class="cls-1" d="M11.19,33.3C13,32.17,14.81,31,16.66,29.92A24.16,24.16,0,0,1,24.28,27a11.72,11.72,0,0,1,8.6,1.39,14,14,0,0,1,4.92,5.48A30.61,30.61,0,0,1,41,43.66c.1.62.18,1.24.28,1.86l-.14,0c-.18-.47-.35-1-.53-1.42A22.27,22.27,0,0,0,35,35.47,17,17,0,0,0,23.48,31a28.7,28.7,0,0,0-11.67,2.3l-.44.18a.17.17,0,0,1-.1,0Z"/>
            <path class="cls-1" d="M43.56,49.08c.54-1.3,1.11-2.58,1.6-3.9a39.92,39.92,0,0,0,3-15.06A15.24,15.24,0,0,0,45,20.62c-.12-.15-.25-.3-.38-.44s-.25-.29-.48-.55c.23.09.33.11.42.16a17.65,17.65,0,0,1,7.22,6.93,12.08,12.08,0,0,1,.78,9.77,24.82,24.82,0,0,1-5.39,8.94c-1.13,1.29-2.36,2.51-3.54,3.76Z"/>
            <path class="cls-1" d="M44.47,35.26a34,34,0,0,0-3.58-6.91,15.55,15.55,0,0,0-7.2-5.91,14.22,14.22,0,0,0-8.77-.4c-.51.13-1,.3-1.5.45l-.07-.12c1.21-.76,2.4-1.57,3.64-2.29A16,16,0,0,1,32.43,18a7.91,7.91,0,0,1,8.46,3.68,17.4,17.4,0,0,1,2.62,6.47c.43,2.15.65,4.34,1,6.51A4.26,4.26,0,0,1,44.47,35.26Z"/>
            <path class="cls-1" d="M9.32,40.07c1-.49,2-1,3-1.47a33.31,33.31,0,0,1,9.28-2.92c3.51-.47,6.88-.2,9.75,2.18a10.31,10.31,0,0,1,3.45,5.89c-1-.81-1.93-1.74-3-2.48a16,16,0,0,0-7-2.47,37.53,37.53,0,0,0-13.88,1l-1.57.39Z"/>
          </g>
          <g>
            <path class="cls-1" d="M112.09,17.44c2.06,10.73,4.13,21.46,6.22,32.35h-3.53c-1.32-6.88-2.63-13.69-3.94-20.49l-.5-.07-9.91,22L90.61,29.42l-.54,0c-1.31,6.73-2.63,13.45-4,20.31h-3.5l6.2-32.35.43-.07,11.2,25.82c3.88-8.91,7.56-17.35,11.23-25.79Z"/>
            <path class="cls-1" d="M169,51.15l-24.35-25.5V49.76h-3.36V17.3l24.47,25.63V18.56H169Z"/>
            <path class="cls-1" d="M180.16,50.17V18.45c5.43,0,10.76-.67,15.71,2.05,5.5,3,8.67,9.78,7.6,16.45-1,6.18-5.95,11.57-12,12.49C187.82,50,184.07,49.94,180.16,50.17Zm3.52-28.5V46.5c5.1,1.31,10.94-.57,13.83-4.57a12.55,12.55,0,0,0,.82-14.26C195.17,22,189.75,21.28,183.68,21.67Z"/>
            <path class="cls-1" d="M246.49,18.29c3.18.19,6.24.14,9.21.62,4.14.68,6.43,3.51,6.67,7.58a8.32,8.32,0,0,1-5.74,8.84l-2,.7,9.7,13.79h-4.19L250.48,36l-.7.25V49.8h-3.29Zm3.28,14.49c3.35.71,7.1-.37,8.35-2.35A6.9,6.9,0,0,0,258,23.9c-1.29-1.87-5.05-2.79-8.21-2Z"/>
            <path class="cls-1" d="M238.43,49.82h-3.77L231,41.11H217.42l-3.78,8.72H209.9l14.41-33ZM224.55,25.68H224l-5,12h10.54Z"/>
            <path class="cls-1" d="M297.11,43.72v3.81a16.29,16.29,0,0,1-21.05-24.68c5.75-5.88,14.86-6.72,21-1.88v4c-3.81-3.24-7.88-4.56-12.53-3.46a12.17,12.17,0,0,0-6.92,4.66,13.08,13.08,0,0,0,.44,16.65C282.83,48.25,288.57,48.58,297.11,43.72Z"/>
            <path class="cls-1" d="M126.87,18.54h3.2V49.79h-3.2Z"/>
          </g>
        </g>
      </g>
    </svg>

  {%- when 'menu' -%}
    <span class="icon-bars"></span>

  {%- when 'minus' -%}
    <span class="icon-minus"></span>

  {%- when 'pinterest' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon" viewBox="0 0 20 20"><path d="M9.958.811q1.903 0 3.635.744t2.988 2 2 2.988.744 3.635q0 2.537-1.256 4.696t-3.415 3.415-4.696 1.256q-1.39 0-2.659-.366.707-1.147.951-2.025l.659-2.561q.244.463.903.817t1.39.354q1.464 0 2.622-.842t1.793-2.305.634-3.293q0-2.171-1.671-3.769t-4.257-1.598q-1.586 0-2.903.537T5.298 5.897 4.066 7.775t-.427 2.037q0 1.268.476 2.22t1.427 1.342q.171.073.293.012t.171-.232q.171-.61.195-.756.098-.268-.122-.512-.634-.707-.634-1.83 0-1.854 1.281-3.183t3.354-1.329q1.83 0 2.854 1t1.025 2.61q0 1.342-.366 2.476t-1.049 1.817-1.561.683q-.732 0-1.195-.537t-.293-1.269q.098-.342.256-.878t.268-.915.207-.817.098-.732q0-.61-.317-1t-.927-.39q-.756 0-1.269.695t-.512 1.744q0 .39.061.756t.134.537l.073.171q-1 4.342-1.22 5.098-.195.927-.146 2.171-2.513-1.122-4.062-3.44T.59 10.177q0-3.879 2.744-6.623T9.957.81z"/></svg>

  {%- when 'plus' -%}
    <span class="icon-plus"></span>

  {%- when 'search' -%}
    <span class="icon-search"></span>

  {%- when 'snapchat' -%}
    <span class="icon-snapchat-ghost"></span>

  {%- when 'tiktok' -%}
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tiktok" width="16" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.02 0H11s-.17 3.82 4.13 4.1v2.95s-2.3.14-4.13-1.26l.03 6.1a5.52 5.52 0 11-5.51-5.52h.77V9.4a2.5 2.5 0 101.76 2.4L8.02 0z" fill="currentColor">
    </svg>

  {%- when 'tumblr' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon" viewBox="0 0 20 20"><path d="M4.373 8.639h1.889v6.398q0 1.158.259 1.904.289.686.899 1.219.594.548 1.569.899.929.32 2.117.32 1.036 0 1.935-.229.777-.152 2.026-.746V15.54q-1.264.868-2.62.868-.67 0-1.341-.35-.396-.259-.594-.716-.152-.503-.152-2.026V8.639h4.113V5.775H10.36V1.19H7.892q-.122 1.295-.594 2.3-.472.975-1.188 1.554-.746.701-1.737 1.005v2.59z"/></svg>

  {%- when 'twitter' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon" viewBox="0 0 20 20"><path d="M19.551 4.208q-.815 1.202-1.956 2.038 0 .082.02.255t.02.255q0 1.589-.469 3.179t-1.426 3.036-2.272 2.567-3.158 1.793-3.963.672q-3.301 0-6.031-1.773.571.041.937.041 2.751 0 4.911-1.671-1.284-.02-2.292-.784T2.456 11.85q.346.082.754.082.55 0 1.039-.163-1.365-.285-2.262-1.365T1.09 7.918v-.041q.774.408 1.773.448-.795-.53-1.263-1.396t-.469-1.864q0-1.019.509-1.997 1.487 1.854 3.596 2.924T9.81 7.184q-.143-.509-.143-.897 0-1.63 1.161-2.781t2.832-1.151q.815 0 1.569.326t1.284.917q1.345-.265 2.506-.958-.428 1.386-1.732 2.18 1.243-.163 2.262-.611z"/></svg>

  {%- when 'vimeo' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon" viewBox="0 0 20 20"><path d="M.215 6.814l.899 1.203q1.249-.929 1.508-.929.99 0 1.843 3.153l.746 2.826q.517 1.958.807 3.009 1.127 3.153 2.833 3.153 2.712 0 6.581-5.21 3.793-4.951 3.93-7.83v-.335q0-3.504-2.803-3.595h-.213q-3.763 0-5.179 4.616.823-.35 1.432-.35 1.295 0 1.295 1.341 0 .168-.015.35-.091 1.082-1.28 2.955-1.219 1.965-1.813 1.965-.792 0-1.401-2.986-.183-.701-.777-4.524-.259-1.645-.96-2.437-.609-.686-1.523-.701-.122 0-.259.015-.96.091-2.849 1.752-.975.914-2.803 2.559z"/></svg>

  {%- when 'wishlist' -%}
    <svg width="15px" height="13px" viewBox="0 0 15 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img">
      <title>Heart</title>
      <defs>
          <polygon id="path-1" points="0.00219512195 0.0283442623 14.985439 0.0283442623 14.985439 12.9720109 0.00219512195 12.9720109"></polygon>
      </defs>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-548.000000, -722.000000)">
              <g transform="translate(548.000000, 722.000000)">
                  <mask id="mask-2" fill="white">
                      <use xlink:href="#path-1"></use>
                  </mask>
                  <g id="Clip-2"></g>
                  <path d="M7.49271951,12.9720109 C7.27935366,12.9720109 7.07370732,12.896959 6.91335366,12.7607077 C6.30797561,12.2468169 5.72432927,11.7638279 5.20942683,11.3378825 L5.20682927,11.3356448 C3.69713415,10.0865082 2.39334146,9.00789891 1.48628049,7.9452377 C0.472317073,6.75744262 0,5.63109563 0,4.4006776 C0,3.2052459 0.422158537,2.10234153 1.18873171,1.29509836 C1.96445122,0.478300546 3.02886585,0.0283442623 4.18631707,0.0283442623 C5.05134146,0.0283442623 5.84352439,0.293920765 6.54076829,0.817543716 C6.89260976,1.08173497 7.21159756,1.40527869 7.49271951,1.78252732 C7.77380488,1.40527869 8.09264634,1.08173497 8.44463415,0.817543716 C9.14206098,0.293920765 9.93420732,0.0283442623 10.7992683,0.0283442623 C11.9564268,0.0283442623 13.0209512,0.478300546 13.7966707,1.29509836 C14.5632439,2.10234153 14.985439,3.2052459 14.985439,4.4006776 C14.985439,5.63109563 14.5132317,6.75744262 13.4991585,7.9452377 C12.5920976,9.00789891 11.2885976,10.0863661 9.7790122,11.3353607 C9.26323171,11.7620164 8.67859756,12.2458224 8.07193902,12.7608497 C7.91173171,12.896959 7.70593902,12.9720109 7.49271951,12.9720109 Z M4.18631707,0.880696721 C3.27695122,0.880696721 2.44178049,1.23293989 1.83413415,1.87271038 C1.21730488,2.5221776 0.877756098,3.41988798 0.877756098,4.4006776 C0.877756098,5.43559836 1.27390244,6.36101366 2.16212195,7.40147541 C3.02056098,8.40727049 4.2975,9.46368033 5.77606098,10.6869945 L5.77876829,10.6892322 C6.29568293,11.1169891 6.88163415,11.6017541 7.49143902,12.1194454 C8.10493902,11.6007951 8.69173171,11.1151776 9.20963415,10.686888 C10.6880854,9.46353825 11.9648415,8.40727049 12.8234634,7.40147541 C13.7115,6.36101366 14.1076463,5.43559836 14.1076463,4.4006776 C14.1076463,3.41988798 13.7679512,2.5221776 13.1513049,1.87271038 C12.5437683,1.23293989 11.7083049,0.880696721 10.7992683,0.880696721 C10.1331585,0.880696721 9.52163415,1.08617486 8.98156098,1.49159016 C8.50039024,1.85303279 8.16512195,2.3099153 7.96862195,2.62958743 C7.86757317,2.79386339 7.68965854,2.89207377 7.49271951,2.89207377 C7.29563415,2.89207377 7.11786585,2.79386339 7.01667073,2.62958743 C6.82031707,2.3099153 6.48504878,1.85303279 6.00373171,1.49159016 C5.46380488,1.08617486 4.85228049,0.880696721 4.18631707,0.880696721 Z" id="Fill-1" fill="#444444" mask="url(#mask-2)"></path>
              </g>
          </g>
      </g>
    </svg>

  {%- when 'wishlist-active' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" aria-hidden="true" role="img">
        <path fill="#444" fill-rule="evenodd" d="M7.493 13.13a.895.895 0 0 1-.58-.211c-.605-.514-1.189-.997-1.704-1.423l-.002-.002c-1.51-1.25-2.814-2.328-3.72-3.39C.471 6.915 0 5.788 0 4.558 0 3.363.422 2.26 1.189 1.453 1.964.636 3.029.186 4.186.186c.865 0 1.658.266 2.355.79.352.264.67.587.952.965.28-.378.6-.701.952-.965a3.842 3.842 0 0 1 2.354-.79c1.157 0 2.222.45 2.998 1.267.766.807 1.188 1.91 1.188 3.106 0 1.23-.472 2.357-1.486 3.544-.907 1.063-2.21 2.141-3.72 3.39-.516.427-1.1.91-1.707 1.426a.895.895 0 0 1-.58.211z"/>
    </svg>

  {%- when 'youtube' -%}
    <span class="icon-youtube"></span>

  {%- when 'zoom' -%}
    <span class="icon-search-plus"></span>

{%- endcase %}