<div style="padding-bottom: {{ section.settings.padding }}px" class="hidden md:block"></div>
<div style="padding-bottom: {{ section.settings.padding_mobile }}px" class="md:hidden"></div>
  
{% schema %}
{
  "name": "Spacer",
  "settings": [
    {
      "type": "range",
      "id": "padding",
      "min": 5,
      "max": 120,
      "step": 5,
      "label": "Padding (desktop)",
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_mobile",
      "min": 5,
      "max": 120,
      "step": 5,
      "label": "Padding (mobile)",
      "unit": "px",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Spacer",
      "category": "Spacer"
    }
  ]
}
{% endschema %}
